* {
  box-sizing: border-box;
  background-color: #000000;
  color: #ffffff;
  font-family: 'Ubuntu';
}

h1 {
  text-align: center;
  font-weight: 700;
  color: yellow;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  display: flex;
  gap: 22px;
  justify-content: center;
}

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 11px;
  width: 222px;
  align-items: center;
  font-size: 22px;
  border: 7px solid yellow;
  border-radius: 22px;
  padding-top: 33px;
}

#grid-size {
  width: 55px;
}

.color-input {
  display: flex;
  gap: 11px;
}

.eas-container {
  outline: 7px solid red;
  display: flex;
  flex-wrap: wrap;
  height: 550px;
  width: 550px;
}

.hovered {
  background-color: red;
}