* {
  box-sizing: border-box;
  background-color: #000000;
}

.eas-container {
  border: 1px solid red;
  display: flex;
  flex-wrap: wrap;
  height: 962px;
  width: 962px;
}

.hovered {
  background-color: red;
}