* {
  box-sizing: border-box;
  color: #ffffff;
  font-family: 'Ubuntu';
}

h1 {
  text-align: center;
  font-weight: 700;
  color: yellow;
}

html {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  margin: 0;
  padding: 0;
  flex-direction: column;
  background-color: #000000;
 
}

.header {
  display: flex;
  background-color: #6b1584;
  color: #f2ff00;
  justify-content: space-between;
  align-items: center;
  padding: 11px;
}

#logo {
  height: 88px;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
}

li {
  padding-left: 24px;
  padding-right: 24px; 
  font-size: 24px;
  font-weight: 800;
}
a {
  color: #f2ff00;
  text-decoration: none;
}

.container {
  display: flex;
  gap: 22px;
  justify-content: center;
}

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 11px;
  width: 222px;
  align-items: center;
  font-size: 22px;
  border: 7px solid yellow;
  border-radius: 22px;
  padding-top: 33px;
}

#grid-size {
  width: 55px;
}

.color-input {
  display: flex;
  gap: 11px;
}

.eas-container {
  outline: 7px solid red;
  display: flex;
  flex-wrap: wrap;
  height: 550px;
  width: 550px;
}

.purp-text {
  color: #bc19eb;
}
